<div id="register-form">
    <fieldset>
        <legend>Register</legend>
        <div>
            <label for="register-username">Username:</label>
            <input type="text" id="register-username" placeholder="pesho@pesho.com"/>
            <br />
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" />
            <br />
            <label for="confir-password">Confirm Password:</label>
            <input type="password" id="confirm-password" />
            <br />
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" />
            <br />
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" />
            <br />
            <label for="avatar-url">Avatar Url:</label>
            <input type="text" id="avatar-url" />
            <br />
            <!--<label for="avatar-url">Avatar Url:</label>
            <input type="file" id="avatar-url" />-->
            <button type="button" id="register-btn">Register</button>
        </div>
    </fieldset>
</div>
